* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

header {
  width: 100%;
  height: auto;
  background: #000;
}

.logo {
  display: flex;
}

.textB {
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  padding: 0.9rem 0 0 0;
}

nav {
  display: flex;
  justify-content: space-between;
  top: 1rem;
  max-width: 130rem;
  margin: auto;
  z-index: 5;
  padding: 1rem;
}

nav a {
  justify-content: space-between;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  margin: 1rem 1rem 1em 1rem;
}

main {
  margin-bottom: 20px;
}

.container-flex {
  width: 100%;
  display: flex;
  flex-flow: row;
  margin-top: 30px;
}

.select-menu {
  width: 25%;
}

.container-menu {
  width: 75%;
  height: 100%;
  background: #fff;
}

.menu-pan {
  display: grid;
  gap: 1rem;
  grid-auto-flow: dense;
  grid-auto-rows: 20rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 18rem), 1fr));
  margin-left: 6%;
}

.img-pan {
  width: 280px;
  height: 310px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.iconify {
  margin: 4px 0 4px 10px;
}

.img-pan img {
  width: 100%;
  height: 150px;
}

.contentImg {
  width: 100%;
  margin-top: 15px;
}

.contentDescrip {
  width: 50%;
}

.contentDescrip p,
h2 {
  margin: 15px;
}

.buttonAdd {
  border: none;
  width: 150px;
  height: 30px;
  background: #e68022;
  font-size: 15px;
  margin-left: 12px;
  color: #fff;
  cursor: pointer;
  padding: 2px;
  border-radius: 8px;
}

ul {
  margin: 0 0 0 12%;
  list-style: none;
}

li {
  margin: 5px;
}

footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
}
