.container {
  max-width: 130rem;
  margin: auto;
}
.header {
  background-image: url(../image/imageonline-co-darkenimage.jpg);
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 60rem;
}

.logo {
  display: flex;
}

.textB {
  color: #fff;
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 0.9rem 0 0 0;
}

nav {
  display: flex;
  justify-content: space-between;
  top: 1rem;
  max-width: 130rem;
  margin: auto;
  z-index: 5;
  padding: 2.5rem;
}

nav a {
  justify-content: space-between;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  margin: 1rem 1rem 1em 1rem;
}

h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 4rem;
  color: #fff;
}

.PositionTP {
  display: flex;
  justify-content: space-between;
  height: 87vh;
  align-items: center;
}
.flecha--back {
  color: #fff;
  font-size: 4rem;
}
.flecha--next {
  color: #fff;
  font-size: 4rem;
}

.header2 {
  background: #333333;
  width: 100%;
  height: 115px;
}

.main-content {
  width: 100%;
  height: 100%;
  background: #f8eeee;
  border-top: 4px solid #fff;
}

.section1 {
  width: 100%;
  height: 100%;
}
